@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap&family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=DotGothic16&family=Klee+One:wght@400;600&family=Yusei+Magic&&family=Zen+Old+Mincho:wght@400;500;600;700;900');
html {
    font-family: 'Klee One', sans-serif;/*字體*/
    background-image: url(''); /*背景圖片*/
    background-size: 100% 100%;/*背景圖片100%填充*/
  }

body {
    width: 1000px; /*寬度*/
    margin: 0 auto; /*頂部、左右側（auto自動均分）*/
    padding: 120px 20px 20px 20px; /*設定邊界*/
}

h1 {
    font-family: 'DotGothic16', sans-serif;/*字體*/
    margin: 0;
    font-size: 44px;
    line-height: 20px;
    text-align: center;
    padding: 20px 20px;
    color: #6bb8ff;
}

h2{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

h3{
    font-size: 18px;
    text-align: center;
    line-height: 10px;
}

main{
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

.login{
    font-family: 'DotGothic16', sans-serif;/*字體*/
}

button{
    font-family: 'DotGothic16', sans-serif;/*字體*/
    font-size: 20px;
    padding: auto;
    width: 80px;
    height: 40px;
}

input{
    height: 30px;
    padding: auto;
    position:relative;
    top: -2px;
}

footer{
    text-align: center;
}
